<table class="table table-success table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">URL</th>
    <th scope="col">Rating</th>
    <th scope="col">Comments</th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
  <tr>
    <th scope="row"><%= post.id %></th>
    <td><%= post.name %></td>
    <td><a href="<%= post.url %>"><%= post.url %></a></td>
    <td><%= post.rating %></td>
    <td><%= link_to 'Comments', post_comments_url(post.id) %></td>
  </tr>
  <% end %>
  </tbody>
</table>
